<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>DoCartorio</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div class="container my-2">
    <div th:if="${id}">
        <h2>Editar Cartorio</h2>
        <form action="#" th:action="@{/site/cartorios/update/{id}(id=${id})}" th:object="${cartorioForm}"
              method="POST">
            <input type="text" th:field="*{nome}" placeholder="Nome" class="form-control mb-4 col-4">
            <input type="text" th:field="*{rua}" placeholder="Rua" class="form-control mb-4 col-4">
            <input type="text" th:field="*{numero}" placeholder="Número" class="form-control mb-4 col-4">
            <input type="text" th:field="*{cep}" placeholder="CEP" class="form-control mb-4 col-4">
            <input type="text" th:field="*{bairro}" placeholder="Bairro" class="form-control mb-4 col-4">
            <input type="text" th:field="*{cidade}" placeholder="Cidade" class="form-control mb-4 col-4">
            <label>Estado: </label>
            <select th:field="*{estado}">
                <option th:value="AC" th:text="Acre" class="form-control mb-4 col-4"></option>
                <option th:value="AL" th:text="Alagoas" class="form-control mb-4 col-4"></option>
                <option th:value="AP" th:text="Amapá" class="form-control mb-4 col-4"></option>
                <option th:value="AM" th:text="Amazonas" class="form-control mb-4 col-4"></option>
                <option th:value="BA" th:text="Bahia" class="form-control mb-4 col-4"></option>
                <option th:value="CE" th:text="Ceará" class="form-control mb-4 col-4"></option>
                <option th:value="DF" th:text="'Distrito Federal'" class="form-control mb-4 col-4"></option>
                <option th:value="ES" th:text="'Espírito Santo'" class="form-control mb-4 col-4"></option>
                <option th:value="GO" th:text="Goiás" class="form-control mb-4 col-4"></option>
                <option th:value="MA" th:text="Maranhão" class="form-control mb-4 col-4"></option>
                <option th:value="MT" th:text="'Mato Grosso'" class="form-control mb-4 col-4"></option>
                <option th:value="MS" th:text="'Mato Grosso do Sul'" class="form-control mb-4 col-4"></option>
                <option th:value="MG" th:text="'Minas Gerais'" class="form-control mb-4 col-4"></option>
                <option th:value="PA" th:text="Pará" class="form-control mb-4 col-4"></option>
                <option th:value="PB" th:text="Paraíba" class="form-control mb-4 col-4"></option>
                <option th:value="PR" th:text="Paraná" class="form-control mb-4 col-4"></option>
                <option th:value="PE" th:text="Pernambuco" class="form-control mb-4 col-4"></option>
                <option th:value="PI" th:text="Piauí" class="form-control mb-4 col-4"></option>
                <option th:value="RJ" th:text="'Rio de Janeiro'" class="form-control mb-4 col-4"></option>
                <option th:value="RN" th:text="'Rio Grande do Norte'" class="form-control mb-4 col-4"></option>
                <option th:value="RS" th:text="'Rio Grande do Sul'" class="form-control mb-4 col-4"></option>
                <option th:value="RO" th:text="Rondônia" class="form-control mb-4 col-4"></option>
                <option th:value="RR" th:text="Roraima" class="form-control mb-4 col-4"></option>
                <option th:value="SC" th:text="'Santa Catarina'" class="form-control mb-4 col-4"></option>
                <option th:value="SP" th:text="'São Paulo'" class="form-control mb-4 col-4"></option>
                <option th:value="SE" th:text="Sergipe" class="form-control mb-4 col-4"></option>
                <option th:value="TO" th:text="Tocantins" class="form-control mb-4 col-4"></option>
            </select>
            <tr>
                <p>Certidões: </p>
                <td>
                    <th:block th:each="certidao : ${certidaoList}">
                        <p>
                            <input type="checkbox" th:value="${certidao}" th:field="*{nomesCertidao}"/>
                            <label th:text="${certidao}"></label>
                        </p>
                    </th:block>
                </td>
            </tr>


            <button type="submit" class="btn btn-info col-2">Salvar</button>
        </form>
        <hr>
        <a th:href="@{/site/cartorios}">Retornar para a lista de pessoas</a>
    </div>
    <div th:unless="${id}">
        <h2>Criar Cartorio</h2>
        <form action="#" th:action="@{/site/cartorios/salvar}" th:object="${cartorioForm}" method="POST">
            <input type="text" th:field="*{nome}" placeholder="Nome" class="form-control mb-4 col-4">
            <input type="text" th:field="*{rua}" placeholder="Rua" class="form-control mb-4 col-4">
            <input type="text" th:field="*{numero}" placeholder="Número" class="form-control mb-4 col-4">
            <input type="text" th:field="*{cep}" placeholder="CEP" class="form-control mb-4 col-4">
            <input type="text" th:field="*{bairro}" placeholder="Bairro" class="form-control mb-4 col-4">
            <input type="text" th:field="*{cidade}" placeholder="Cidade" class="form-control mb-4 col-4">
            <label>Estado: </label>
            <select th:field="*{estado}">
                <option th:value="AC" th:text="Acre" class="form-control mb-4 col-4"></option>
                <option th:value="AL" th:text="Alagoas" class="form-control mb-4 col-4"></option>
                <option th:value="AP" th:text="Amapá" class="form-control mb-4 col-4"></option>
                <option th:value="AM" th:text="Amazonas" class="form-control mb-4 col-4"></option>
                <option th:value="BA" th:text="Bahia" class="form-control mb-4 col-4"></option>
                <option th:value="CE" th:text="Ceará" class="form-control mb-4 col-4"></option>
                <option th:value="DF" th:text="'Distrito Federal'" class="form-control mb-4 col-4"></option>
                <option th:value="ES" th:text="'Espírito Santo'" class="form-control mb-4 col-4"></option>
                <option th:value="GO" th:text="Goiás" class="form-control mb-4 col-4"></option>
                <option th:value="MA" th:text="Maranhão" class="form-control mb-4 col-4"></option>
                <option th:value="MT" th:text="'Mato Grosso'" class="form-control mb-4 col-4"></option>
                <option th:value="MS" th:text="'Mato Grosso do Sul'" class="form-control mb-4 col-4"></option>
                <option th:value="MG" th:text="'Minas Gerais'" class="form-control mb-4 col-4"></option>
                <option th:value="PA" th:text="Pará" class="form-control mb-4 col-4"></option>
                <option th:value="PB" th:text="Paraíba" class="form-control mb-4 col-4"></option>
                <option th:value="PR" th:text="Paraná" class="form-control mb-4 col-4"></option>
                <option th:value="PE" th:text="Pernambuco" class="form-control mb-4 col-4"></option>
                <option th:value="PI" th:text="Piauí" class="form-control mb-4 col-4"></option>
                <option th:value="RJ" th:text="'Rio de Janeiro'" class="form-control mb-4 col-4"></option>
                <option th:value="RN" th:text="'Rio Grande do Norte'" class="form-control mb-4 col-4"></option>
                <option th:value="RS" th:text="'Rio Grande do Sul'" class="form-control mb-4 col-4"></option>
                <option th:value="RO" th:text="Rondônia" class="form-control mb-4 col-4"></option>
                <option th:value="RR" th:text="Roraima" class="form-control mb-4 col-4"></option>
                <option th:value="SC" th:text="'Santa Catarina'" class="form-control mb-4 col-4"></option>
                <option th:value="SP" th:text="'São Paulo'" class="form-control mb-4 col-4"></option>
                <option th:value="SE" th:text="Sergipe" class="form-control mb-4 col-4"></option>
                <option th:value="TO" th:text="Tocantins" class="form-control mb-4 col-4"></option>
            </select>
            <tr>
                <p>Certidões: </p>
                <td>
                    <th:block th:each="certidao : ${certidaoList}">
                        <p>
                            <input type="checkbox" th:value="${certidao}" th:field="*{nomesCertidao}"/>
                            <label th:text="${certidao}"></label>
                        </p>
                    </th:block>
                </td>
            </tr>


            <button type="submit" class="btn btn-info col-2">Salvar</button>
        </form>
        <hr>
        <a th:href="@{/site/cartorios}">Retornar para a lista de pessoas</a>

    </div>

</div>
</body>
</html>